<%- include('./layouts/header.ejs') %>
        <main class="main-wrap">
            <section class="content-main" style="width: 100%;">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Reviews</h2>
                    </div>
                    <div>
                        <input type="text" placeholder="Search by name" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Name</th>
                                        <th>comment</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>Organic Quinoa, Brown, & Red Rice</b></td>
                                        <td>Devon Lane</td>
                                        <td><p>
                                            nice product
                                        </p>
                                        </td>
                                        <td>10.03.2020</td>
                                    </tr>
                                    <tr>
                                        <td><b>All Natural Italian-Style</b></td>
                                        <td>Guy Hawkins</td>
                                        <td>
                                            <p>good</p>
                                        </td>
                                        <td>04.12.2019</td>
                                    </tr>
                                    <tr>
                                        <td><b>Angie’s Boomchickapop Sweet</b></td>
                                        <td>Steven John</td>
                                        <td>
                                     <p>bad product</p>
                                        </td>
                                        <td>25.05.2020</td>
                                    </tr>
                                        <td><b>Foster Farms Takeout Crispy Classic</b></td>
                                        <td>Kristin Watson</td>
                                        <td>
                                     <p>bad product</p>
                                        </td>
                                        <td>01.06.2020</td>
                                    </tr>
                                        <td><b>Blue Diamond Almonds Lightly Salted</b></td>
                                        <td>Jane Cooper</td>
                                        <td>
                                            <p>good product</p>
                                        </td>
                                        <td>13.03.2020</td>
                                    </tr>
                                        <td><b>Chobani Complete Vanilla Greek Yogurt</b></td>
                                        <td>Courtney Henry</td>
                                        <td>
                                            <p>good product</p>
                                        </td>
                                        <td>21.02.2020</td>
                                    </tr>
                                        <td><b>Canada Dry Ginger Ale – 2 L Bottle</b></td>
                                        <td>Ralph Edwards</td>
                                        <td>
                                     <p>bad product</p>
                                        </td>
                                        <td>23.03.2020</td>
                                    </tr>
                                        <td><b>Encore Seafoods Stuffed Alaskan</b></td>
                                        <td>Courtney Henry</td>
                                        <td>
                                         <p>nice</p>
                                        </td>
                                        <td>20.02.2020</td>
                                    </tr>
                                        <td><b>Gorton Beer Battered Fish Fillets</b></td>
                                        <td>Theresa Webb</td>
                                        <td>
                                           <p>great!</p>
                                        </td>
                                        <td>10.03.2020</td>
                                    </tr>
                                        <td><b>Haagen-Dazs Caramel Cone</b></td>
                                        <td>Darrell Steward</td>
                                        <td>
                                         <p>nice one </p>
                                        </td>
                                        <td>10.04.2020</td>
                                    </tr>
                                        <td><b>Nestle Original Coffee-Mate Coffee Creamer </b></td>
                                        <td>Leslie Alexander</td>
                                        <td>
                                    <p>Great product</p>
                                        </td>
                                        <td>25.05.2020</td>
                                    </tr>
                                        <td><b>Seeds of Change Organic Quinoa</b></td>
                                        <td>Esther Howard</td>
                                        <td>
                                            <p>good product</p>
                                        </td>
                                        <td>07.04.2020</td>
                                    </tr>
                                        <td><b>Organic Frozen Triple Berry Blend</b></td>
                                        <td>Steven John</td>
                                        <td>
                                            <p>good product</p>
                                        </td>
                                        <td>10.10.2019</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive//end -->
                    </div>
                    <!-- card-body end// -->
                </div>
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
<%- include('./layouts/footer.ejs') %>
